eureka:
  instance:
    hostname: ${HOSTNAME:localhost}
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      default-zone: ${EUREKA_URL:http://localhost:8761/eureka}

# Disable Eureka from overriding system properties
spring:
  cloud:
    config:
      override.system-properties: false