spring:
  config:
    activate:
      on-profile: prod

eureka:
  instance:
    # Let the platform/ENV define the hostname if you care about it
    hostname: ${EUREKA_INSTANCE_HOSTNAME}
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
