services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gameon_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

  go-config-server:
    build:
      context: ./Backend
      dockerfile: go-config-server/Dockerfile
    container_name: go-config-server
    restart: unless-stopped
    environment:
      HOSTNAME: go-config-server
      SPRING_PROFILES_ACTIVE: native
    ports:
      - "8889:8889"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8889/actuator/health"]
      interval: 10s       # how often to check
      timeout: 3s         # give the endpoint 3s to respond
      retries: 5          # mark as unhealthy after 5 failures
      start_period: 20s   # grace period for startup

  go-discovery-service:
    build:
      context: ./Backend
      dockerfile: go-discovery-service/Dockerfile
    container_name: go-discovery-service
    restart: unless-stopped
    environment:
      HOSTNAME: go-discovery-service
      EUREKA_URL: http://go-discovery-service:8761/eureka
      CONFIG_SERVER_URL: http://go-config-server:8889
    ports:
      - "8761:8761"
    depends_on:
      go-config-server:
        condition: service_healthy
    command: sh -c "sleep 60 && java -jar app.jar"
    networks:
      - backend

  go-api-gateway:
    build:
      context: ./Backend
      dockerfile: go-api-gateway/Dockerfile
    container_name: go-api-gateway
    restart: unless-stopped
    environment:
      HOSTNAME: go-api-gateway
      CONFIG_SERVER_URL: http://go-config-server:8889
      EUREKA_SERVER_URL: http://go-discovery-service:8761/eureka
      CLERK_URL: ${CLERK_URL}

    ports:
      - "8222:8222"
    depends_on:
      go-config-server:
        condition: service_healthy
      go-discovery-service:
        condition: service_started
    networks:
      - backend

  go-user-service:
    build:
      context: ./Backend
      dockerfile: go-user-service/Dockerfile
    container_name: go-user-service
    restart: unless-stopped
    environment:
      HOSTNAME: go-user-service
      CONFIG_SERVER_URL: http://go-config-server:8889
      EUREKA_SERVER_URL: http://go-discovery-service:8761/eureka
      DB_HOST: postgres_db
      DB_PORT: 5432
      DB_NAME: gameon_db
      DB_USER: username
      DB_PASSWORD: password
      CLERK_URL: ${CLERK_URL}
    ports:
      - "8090:8090"
    depends_on:
      go-config-server:
        condition: service_healthy
      go-discovery-service:
        condition: service_started
      db:
        condition: service_started
    command: sh -c "sleep 20 && java -jar app.jar"
    networks:
      - backend

  go-team-service:
    build:
      context: ./Backend
      dockerfile: go-team-service/Dockerfile
    container_name: go-team-service
    restart: unless-stopped
    environment:
      HOSTNAME: go-team-service
      CONFIG_SERVER_URL: http://go-config-server:8889
      EUREKA_SERVER_URL: http://go-discovery-service:8761/eureka
      DB_HOST: postgres_db
      DB_PORT: 5432
      DB_NAME: gameon_db
      DB_USER: username
      DB_PASSWORD: password
      CLERK_URL: ${CLERK_URL}
    ports:
      - "8092:8092"
    depends_on:
      go-user-service:
        condition: service_started
      db:
        condition: service_started
    command: sh -c "sleep 20 && java -jar app.jar"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8092/actuator/health"]
      interval: 10s       # how often to check
      timeout: 3s         # give the endpoint 3s to respond
      retries: 5          # mark as unhealthy after 5 failures
      start_period: 20s   # grace period for startup

  go-league-service:
    build:
      context: ./Backend
      dockerfile: go-league-service/Dockerfile
    container_name: go-league-service
    restart: unless-stopped
    environment:
      HOSTNAME: go-league-service
      CONFIG_SERVER_URL: http://go-config-server:8889
      EUREKA_SERVER_URL: http://go-discovery-service:8761/eureka
      DB_HOST: postgres_db
      DB_PORT: 5432
      DB_NAME: gameon_db
      DB_USER: username
      DB_PASSWORD: password
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
      CLERK_URL: ${CLERK_URL}

    ports:
      - "8093:8093"
    depends_on:
      go-team-service:
        condition: service_healthy
      db:
        condition: service_started
    command: sh -c "sleep 20 && java -jar app.jar"
    networks:
      - backend

  go-messaging-service:
    build:
      context: ./Backend
      dockerfile: go-messaging-service/Dockerfile
    container_name: go-messaging-service
    restart: unless-stopped
    environment:
      HOSTNAME: go-messaging-service
      CONFIG_SERVER_URL: http://go-config-server:8889
      EUREKA_SERVER_URL: http://go-discovery-service:8761/eureka
      DB_HOST: postgres_db
      DB_PORT: 5432
      DB_NAME: gameon_db
      DB_USER: username
      DB_PASSWORD: password
      CLERK_URL: ${CLERK_URL}
    ports:
      - "8095:8095"
    depends_on:
      go-team-service:
        condition: service_healthy
      db:
        condition: service_started
    command: sh -c "sleep 20 && java -jar app.jar"
    networks:
      - backend

volumes:
  db_data:

networks:
  backend:
