name: Backend Tests (Java)

on:
  pull_request:
    branches: [main]
    paths:
      - "GameOn-Backend/common/**"
      - "GameOn-Backend/go-user-service/**"
      - ".github/workflows/backend-tests.yml"
  push:
    branches: [main]
    paths:
      - "GameOn-Backend/common/**"
      - "GameOn-Backend/go-user-service/**"
      - ".github/workflows/backend-tests.yml"

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: GameOn-Backend

    steps:
      - name: Set up job
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven
          
      - name: Build common
        run: |
          cd common &&
          mvn -B -ntp -DskipTests package

      - name: Unit tests (common)
        run: |
          cd common &&
          mvn -B -ntp -DskipITs test
          
          
      - name: Install common jar
        run: mvn install:install-file -Dfile=./common/target/common-1.0-SNAPSHOT.jar -DgroupId=com.game.on -DartifactId=common -Dversion=1.0-SNAPSHOT -Dpackaging=jar
        
      - name: Build user service
        run: | 
          cd go-user-service &&
          mvn -B -ntp -DskipTests package

      - name: Run user service Tests
        run: |
          cd go-user-service &&
          mvn -B -ntp -DskipITs test

      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: backend-surefire-reports
          path: GameOn-Backend/go-user-service/target/surefire-reports/**
          if-no-files-found: ignore
